<div id="<%= dom_id maintenance %>">
      <th scope="row">
      <%= maintenance.motor_id %>
      </th>
      <th scope="row">
    <%= maintenance.tipo %>
      </th>
      <th scope="row">
    <%= maintenance.name %>
      </th>
      <th scope="row">
    <%= maintenance.city %>
      </th>
      <th scope="row">
        <%= maintenance.materials %>
      </th>
      <th scope="row">
      <%= maintenance.fecha %>
      </th>
      <th scope="row">
      <%= maintenance.operatorname %>
      </th>

</div>      