<p style="color: green"><%= notice %></p>

<h1>Mantenimiento</h1>
<%= link_to "Nuevo Mantenimiento ", new_maintenance_path %>
<br>
 <%= link_to "Ingresar un nuevo motor", motors_path %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">id_motor</th>
      <th scope="col">Tipo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Materiales</th>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre del técnico</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  <% @maintenances.each do |maintenance| %>
  <tr>  
  <%= render maintenance %>
  <td>
  <%= link_to "Mostrar", maintenance %>
  </td>
  </tr>
  <% end %>
  </tbody>
  
</table>
  <%= raw pagy_nav(@pagy) %>