<p style="color: green"><%= notice %></p>

<%= render @maintenance %>

<div>
  <%= link_to "Editar", edit_maintenance_path(@maintenance) %> |
  <%= link_to "Regresar", maintenances_path %>

  <%= button_to "Eliminar", @maintenance, method: :delete %>
</div>
