<div id="<%= dom_id motor %>">
  <p>
    <strong>Tipo:</strong>
    <%= motor.tipo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= motor.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= motor.description %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= motor.photo %>
  </p>
  <p>
    <strong>ID:</strong>
    <%= motor.id %>
  </p>
</div>
