<div id="<%= dom_id motor %>">
  <p>
    <strong>Tipo:</strong>
    <%= motor.tipo %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= motor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= motor.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= motor.photo %>
  </p>

</div>
