<p style="color: green"><%= notice %></p>

<%= render @motor %>

<div>
  <%= link_to "Editar", edit_motor_path(@motor) %> |
  <%= link_to "Regresar", motors_path %>

  <%= button_to "Borrar", @motor, method: :delete %>
</div>
